@model IEnumerable<Frekisa.Models.Contrato>

@{
    ViewBag.Title = "Lista de Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Contratos</b></h2>
<hr/>

<table class="table table-striped table-hover" id="tabelaContrato">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.id_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.nome_cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionarios.id_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionarios.nome_funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.id_cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.nome_cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionarios.id_funcionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionarios.nome_funcionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plano)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id_contrato }) |
                    @if (Session["Perfil"].ToString().ToUpper().Trim() == "TRUE")
                    {
                        @Html.ActionLink("Excluir", "Delete", new { id = item.id_contrato })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tabelaContrato").DataTable({
            "language": {
                "lengthMenu": "Exibe _MENU_ Registros por Pagina",
                "search": "Procurar",
                "paginate": { "previous": "Retornar", "next": "Avançar" },
                "zeroRecords": "Nada foi encontrado.",
                "info": "Exibindo página _PAGE_ de _PAGE_",
                "infoEmpty": "Sem Registro",
                "infoFiltered": "(filtro de _MAX_ registros totais)"
            }
        });
    });
</script>
